/*home page*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(49, 47, 47);
    color: whitesmoke;
}

li, a, button {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
}

header {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    border-top: lightblue;
    border-right:cornflowerblue;
    border-left: cornflowerblue;
    border-bottom: darkblue;
    border-radius: 20px;
    border-style: double;
  }

  h1 {
    color:aliceblue;
    font-size: 40px;
    text-decoration: underline;
    margin-right: auto;
  }

  .nav-links {
    list-style: none;
  }

  .nav-links li {
    display: inline-block;
    padding: 0px 20px;
  }

  .nav-links li a {
    transition: all 0.3s ease 0s;
  }

  .nav-links li a:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }

  button {
    cursor: pointer;
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,140,150,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  button:hover {
    background-color: rgba(0,136,169,0.8);
  }

.hero {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero img {
  height: auto;
  width: 25%;
}

.name {
  font-size: larger;
  margin-left: 100px;
}

.name .or {
color: aquamarine;
}

.name .chard {
color: aquamarine;
}

#about h2 {
    font-size: 30px;
    text-decoration: underline;
    margin: 20px 20px;
}

#about p {
  margin-left: 20px;
  text-decoration: none;
  text-indent: 30px;
  color:aquamarine;
}

.works {
   margin: 20px 20px;
    font-size: 15px;
    text-decoration: underline;
}

.works img {
  margin-top: 20px;
 width: 30%;
 height: auto;
}

@media only screen and (max-width: 600px) {
    .name {
      text-align: center;
      margin: auto;
    }

    .hero {
      position: static;
    }

    header {
      position: static;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      margin: auto;
      padding: 20px;
    }

    #about {
      text-align: center;
      position: static;
      max-width: 570px;
    }

    .works {
      position: static;
      text-align: center;
    }
}

@media only screen and (min-wdith: 768px) {
 
}

@media only screen and (max-width: 992px) {
  
}

@media only screen and (min-width: 1200px) {
  
}

